<div class="container my-4">
  <h5>Goals</h5>
  <ul class="list-group">
    <% @goals.each do |g| %>
      <li class="list-group-item d-flex justify-content-between">
        <span><strong><%= g.title %></strong> <span class="text-muted xsmall">/ <%= g.start_date %>〜<%= g.target_date %></span></span>
        <%= link_to "詳細", goal_path(g), class:"btn btn-outline-secondary btn-sm" %>
      </li>
    <% end %>
  </ul>
</div>